p {
	background-color: black;
	font-style: italic;
	text-align: center;
	color: blue;
	font-size: large;
	text-shadow: 6px 2px #5F0000
	}
.Mud {
	background-color: black;
	font-style: normal;
	text-align: left;
	color: green;
	font-size: medium;
	

}